.orderContainerMany{
    margin-top: 1%;
    display: flex;
    width: 60px;
    margin: 10px;
}
.orderContainerOne{
    margin: 10px;
    padding: 10px;
    background: linear-gradient(Grey,lightblue);
    list-style-type: none;
}
.orderSpaceMaker{
    padding: 70px;
    justify-content: center;
    background-color: antiquewhite;
    
}
.orderList{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}