.restaurantContainerMany{
    margin-top: 1%;
    display: flex;
    width: 60px;
    margin: 10px;
}
.restaurantContainerOne{
    margin: 10px;
    padding: 10px;
    background: linear-gradient(Grey,lightblue);
    list-style-type: none;
}
.spaceMaker{
    padding: 70px;
    justify-content: center;
    background-color: antiquewhite;
    
}
.restaurantList{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.restaurantListAdmin{
    margin: 5px;
    padding: 3px;
    list-style-type: none;
    border: 1px solid black;
}
.restaurantSearch{
    margin: 20px
}
.searchInput{
    margin-left: 10px;
}
.restaurantCreator{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-left: 20px;
    margin-top: 10px;
    background: linear-gradient(Grey,lightblue);
    padding: 10px;
    color: black;
}
.restaurantCreator input{
    margin-top: 5px;
    margin-left: 5px;
}
.restaurantCreator button{
    margin-top: 5px;
}
.restaurantCreator h4{
    color: rgb(239, 251, 255);
}